streamlit
pandas
numpy
google-auth
gspread
ortools
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
xhtml2pdf
libcairo2
libpango-1.0-0
libpangocairo-1.0-0
libgdk-pixbuf2.0-0
shared-mime-info